In [1]:
"Hello, World!"

'Hello, World!'

In [3]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [4]:
x = 5
y = "Hello, World!"

In [5]:
# This is a comment.
"Hello, World!"

'Hello, World!'

In [6]:
"Hello, World!" # This is a comment

'Hello, World!'

In [7]:
# print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [8]:
# This is a comment
#written in
#more than just one line
"Hello, World!"

'Hello, World!'

In [9]:
"""
This is a comment
written in
more than just one line
"""
"Hello, World!"

'Hello, World!'

In [10]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [11]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
x

'Sally'

In [12]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) #z will be 3.0

In [13]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [14]:
x = "John"
#is the same as
x ='John'

In [15]:
a = 4
A = 'Sally'
# A will not overwrite a

In [16]:
myvar = 'John'
my_var = 'John'
_my_var = 'John'
myVar='John'
MYVAR = 'John'
myvar2 = 'John'

In [17]:
x, y, z = 'Orange', 'Banana', 'Cherry'
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [18]:
x = y = z = 'Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [19]:
fruits = ['apple', 'banana', 'cherry']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [20]:
x = 'awesome'
print('Python is ' + x)

Python is awesome

In [21]:
x = 'Python is '
y = 'awesome'
z = x + y
z

'Python is awesome'

In [22]:
x = 5
y = 10
x + y

15

In [23]:
x = 'awesome'
def myfunc():
    print('Python is ' + x)
    
myfunc()

Python is awesome

In [24]:
x = 'awesome'

def myfunc():
    x = 'fantastic'
    print('Python is ' + x)
    
myfunc()

print('Python is ' + x)

Python is fantastic
Python is awesome

In [25]:
def myfunc():
    global x
    x = 'fantastic'
    
myfunc()

print('Python is ' + x)

Python is fantastic

In [26]:
x = 'awesome'

def myfunc():
    global x
    x = 'fantastic'
    
myfunc()

print('Python is '+ x)

Python is fantastic

In [27]:
"""
Text Type:	 str

Numeric Types:	 int, float, complex

Sequence Types:	 list, tuple, range

Mapping Type:	 dict

Set Types:	 set, frozenset

Boolean Type:	 bool

Binary Types:	 bytes, bytearray, memoryview

"""

'\nText Type:\t str\n\nNumeric Types:\t int, float, complex\n\nSequence Types:\t list, tuple, range\n\nMapping Type:\t dict\n\nSet Types:\t set, frozenset\n\nBoolean Type:\t bool\n\nBinary Types:\t bytes, bytearray, memoryview\n\n'

In [28]:
x = 5
print(type(x))

<class 'int'>

In [29]:
x = 1 # int
y = 2.8 # float
z = 1j #complex

In [30]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [31]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [33]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [35]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

# convert from int to float:
a = float(x)

# convert from float to int:
b = int(y)

# convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [36]:
import random

print(random.randrange(1, 10))

8

In [37]:
x = int(1) # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [38]:
x = float(1) # will be 1.0
y = float(2.8) # will be 2.8
z = float("3") # will be 3.0
w = float("4.2") # will be 4.2

In [39]:
x = str("s1") # x will be 's1'
y = str(2) # y will be '2'
z = str(3.0) # z will be '3.0'

In [40]:
print('Hello')
print("Hello")

Hello
Hello

In [41]:
a = "Hello"
print(a)

Hello

In [42]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [43]:
a = '''Lorem ipsum dolor sit amet,
consectetur adispiscing elit, 
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adispiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [44]:
a = "Hello, World!"
print(a[1])

e

In [45]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [46]:
a = "Hello, World!"
print(len(a))

13

In [47]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [48]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [49]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [50]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

In [51]:
b = "Hello, World!"
print(b[2:5])

llo

In [52]:
b = 'Hello, World!'
print(b[:5])

Hello

In [53]:
b = 'Hello, World!'
print(b[2:])

llo, World!

In [54]:
b = 'Hello, World!'
print(b[-5:-2])

orl

In [55]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [56]:
a = 'Hello, World!'
print(a.lower())

hello, world!

In [57]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [58]:
a = 'Hello, World!'
print(a.replace('H', 'J'))

Jello, World!

In [59]:
a = 'Hello, World!'
print(a.split(",")) # returns ['Hello' , 'World!']

['Hello', ' World!']

In [60]:
a = 'Hello'
b = 'World'
c = a + b
print(c)

HelloWorld

In [61]:
a = 'Hello'
b = 'World'
c = a + ' ' + b
print(c)

Hello World

In [62]:
age = 36
txt = 'My name is John, I am ' + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = 'My name is John, I am {}'
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = 'I want {} pieces of item {} for {} dollars.'
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = 'I want to pay {2} dollars for {0} pieces of item {1}'
print(myorder.format(quantity, itemno, price))

In [ ]:
txt = 'We are the so-called'Vikings' from the north

In [ ]:
txt = "We are the so-called\"Vikings\" from the north "

In [ ]:
print(10 > 9)

In [ ]:
print( 10 == 9)

In [ ]:
print(10 < 9)

In [ ]:
a = 200
b = 33

if b > a:
    print('b is grater than a')
else:
    print('b is not greater than a')

In [ ]:
print(bool('Hello'))
print(bool(15))

In [ ]:
x = 'Hello'
y = 15

print(bool(x))
print(bool(y))

In [ ]:
bool('abc')
bool(123)
bool(['apple', 'cherry', 'banana'])

In [ ]:
bool(False)

In [ ]:
bool(None)

In [ ]:
bool(0)

In [ ]:
bool('')

In [ ]:
bool(())

In [ ]:
bool([])

In [ ]:
bool({})

In [ ]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

In [ ]:
def myFunction():
    return True

print(myFunction())

In [ ]:
def myFunction():
    return True

if myFunction():
    print('YES!')
else:
    print('NO!')

In [ ]:
x = 200
print(isinstance(x, int))

In [ ]:
10 + 5

In [ ]:
thislist = ['apple', 'banana', 'cherry']
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry', 'apple', 'cherry']
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

In [ ]:
list1 = ['apple', 'banana', 'cherry']
list2 = [1, 5, 7 , 9 , 3]
list3 = [True, False, False]

In [ ]:
list1 = ['abc', 34, True, 40, 'male']

In [ ]:
mylist = ['apple', 'banana', 'cherry']
print(type(mylist))

In [ ]:
thislist = list(('apple', 'banana', 'cherry')) # note the double round-brackets
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
print(thislist[1])

In [ ]:
thislist = ['apple', 'banana', 'cherry']
print(thislist[-1])

In [ ]:
thislist = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

In [ ]:
thislist = ['apple', 'banana', 'cherry']
if 'apple' in thislist:
    print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist[1] = 'blackcurrant'
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
thislist[1:3] = ['blackcurrant', 'watermelon']
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist[1:3] = ['watermelon']
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.insert(2, 'watermelon')
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.append('orange')
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.insert(1, 'orange')
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thistuple = ('kiwi', 'orange')
thislist.extend(thistuple)
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.remove('banana')
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.pop()
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
del thislist[0]
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
del thislist

In [ ]:
thislist = ['apple', 'banana', 'cherry']
thislist.clear()
print(thislist)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
for x in thislist:
    print(x)

In [ ]:
thislist = ['apple', 'banana', 'cherry']
for i in range(len(thislist)):
    print(thislist[i])

In [ ]:
thislist = ['apple', 'banana', 'cherry']
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

In [ ]:
thislist = ['apple', 'banana', 'cherry']
[print(x) for x in thislist]

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
newlist = [x for x in fruits if x != 'apple']
print(newlist)

In [ ]:
newlist = [x for x in fruits]
print(newlist)

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ['hello' for x in fruits]
newlist

In [ ]:
newlist = [x if x != 'banana' else 'orange' for x in fruits]
newlist

In [ ]:
thislist = ['orange', 'mango', 'kiwi', 'pineapple', 'banana']
thislist.sort()
thislist

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

In [ ]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50 , 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [ ]:
thislist = ['banana', 'Orange', 'Kiwi', 'cherry']
thislist.sort()
print(thislist)

In [ ]:
thislist = ['banana', 'Orange', 'Kiwi', 'cherry']
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
thislist = ['banana', 'Orange', 'Kiwi', 'cherry']
thislist.reverse()
print(thislist)

In [ ]:
thislist = ['banana', 'Orange', 'Kiwi', 'cherry']
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ['banana', 'Orange', 'Kiwi', 'cherry']
mylist = list(thislist)
print(mylist)

In [ ]:
list1 = ['a','b','c']
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ['a','b','c']
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
    
print(list1)

In [ ]:
list1 = ['a','b','c']
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

In [ ]:
thistuple = ('apple' , 'banana', 'cherry')
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ('apple',)
print(type(thistuple))

In [ ]:
thistuple = ('apple')
print(type(thistuple))

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
x = ('apple', 'banana', 'cherry')
y = list(x)
y[1] = 'kiwi'
x = tuple(y)

print(x)

In [ ]:
thistuple = ('apple', 'banana', 'cherry')
y = list(thistuple)
y.append('orange')
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
thistuple = ('apple', 'banana', 'cherry')
del thistuple
print(thistuple) # this will raise and error because the tuple no longer exists

In [ ]:
fruits = ('apple', 'banana', 'cherry')

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

In [ ]:
fruits = ('apple', 'banana', 'cherry' , 'strawberry', 'raspberry')

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ('apple', 'mango', 'papaya', 'pineapple', 'cherry')

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
thistuple = ('apple', 'banana', 'cherry')
for x in thistuple:
    print(x)

In [ ]:
thistuple = ('apple', 'banana', 'cherry')
for i in range(len(thistuple)):
    print(thistuple[i])

In [ ]:
thistuple = ('apple', 'banana', 'cherry')
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

In [ ]:
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
myset = {"apple", "banana", "cherry"}

In [ ]:
thisset = {'apple', 'banana', 'cherry'}
print(thisset)

In [ ]:
thisset = {'apple', 'banana', 'cherry', 'apple'}
print(thisset)

In [ ]:
thisset = {'apple', 'banana', 'cherry'}
print(len(thisset))

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict['brand'])

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

In [ ]:
print(len(thisdict))

In [ ]:
thisdict = {
    "brand": "Ford"
    "electric": False,
    "year": 1964,
    "colors": ["red","white","blue"]
}

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(type(thisdict))

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = thisdict["model"]

In [ ]:
x = thisdict.get("model")

In [ ]:
x = thisdict.keys()

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.keys()

print(x) # before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
x = thisdict.values()

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) # after the change

In [ ]:
x = thisdict.items()

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

if "model" in car:
    print("Yes, 'model' is one of the keys in the car dictionary")

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

car["year"] = 2018

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.update ({"year": 2020})

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"] = "red"
print(car)

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.update({"color": "red"})

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

In [ ]:
for x in thisdict:
    print(thisdict[x])

In [ ]:
for x in thisdict.values():
    print(x)

In [ ]:
for x in thisdict.keys():
    print(x)

In [ ]:
for x, y in thisdict.items():
    print(x, y)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

In [ ]:
myfamily = {
    "child1" : {
        "name": "Emil",
        "year": 2004
    },
    "child2" : {
        "name": "Tobias",
        "year": 2007
    },
    "child3": {
        "name": "Linus",
        "year": 2011
    }
}

In [ ]:
child1 = {
    "name" : "Emil",
    "year" : 2004
    }
child2 = {
    "name" : "Tobias",
    "year" : 2007
}
child3 = {
    "name" : "Linus",
    "year" : 2011
}

myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

In [ ]:
a = 33
b = 200
if b > a :
    print("b is greater than a")

In [ ]:
a = 33 
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b :
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

In [ ]:
a = 200 
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

In [ ]:
x = 41
if x > 10:
    print("Above ten, ")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

In [ ]:
a = 33
b = 200

if b > a:
    pass

In [ ]:
i = 1
while i < 6:
    print(i)    
    i += 1

In [ ]:
i = 1 
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
i = 0
while i <6:
    i += 1
    if i == 3:
        continue
    print(i)

In [ ]:
i = 1
while i < 6 :
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)

In [ ]:
for x in 'banana':
    print(x)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)
    if x == 'banana':
        break

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    if x == 'banana':
        break
    print(x)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

In [ ]:
for x in range(6):
    print(x)

In [ ]:
for x in range(2,6):
    print(x)

In [ ]:
for x in range(2, 30, 3):
    print(x)

In [ ]:
for x in range(6):
    print(x)
else:
    print('Finally finished!')

In [ ]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print('Finally finished!')

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

In [ ]:
for x in [0, 1, 2]:
    pass

In [65]:
def my_function():
    print("Hello from a function!")

In [66]:
def my_function():
    print("Hello from a function!")
    
my_function()

Hello from a function!